* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    margin: 100px;
}

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.logo {
    height: 150px;
    width: 150px;
    background: #000;
    line-height: 150px;
    text-align: center;
}

h3 {
    font-family: arial;
    color: #63C9E1;
    margin: 80px 0 30px 0;
    font-weight: bold;
    font-size: 25px;
}

.hello {
    font-family: Arial;
    margin: 50px 0 15px;
    color: #484848;
    font-weight: bold;
    font-size: 20px;
}

.content {
    font-family: arial;
    margin-bottom: 30px;
    color: #797979;
}

.box input {
    border: none;
    height: 30px;
    width: 465px;
    font-size: 17px;
    font-weight: 600;
}

hr {
    width: 510px;
}

.button button {
    margin: 50px 0;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 5px;
    background: #0584FF;
    color: #fff;
    font-size: 15px;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
}