/* Set height of the grid so .sidenav can be 100% (adjust as needed) */

.row.content {
    height: 750px;
    position: relative;
}

/* Set gray background color and 100% height */

.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}

/*
===========================
        Main CSS Area
===========================
*/

.head {
    height: 77px;
    background: #f9fafa;
    font-weight: bold;
}

.logo {
        display: inline-block;
    padding: 3px 31px;
    /* background: #000; */
    margin-left: -22px;
}

.logo a {
    height: 77px;
    text-transform: lowercase;
    line-height: 77px;
    text-align: center;
}

.text {
    color: #22479A;
}

.side {
    background: #212B36;
}

.side a {
    color: #fff !important;
}

.link a {
    color: #000;
    text-decoration: none;
    display: inline-block;
}

.logo2 {
    
    padding: 50px;
}

.channel {
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
}

.channel a {
    text-decoration: none;
    display: block;
}

.icon {
    margin-left: 44px;
}

.icon:hover {
    color: #ddd;
    font-size: 20px;
}

.all {
       margin-top: -32px;
    margin-left: 58px;
}

.pic {
       margin-left: 65px;
}

.chat {
    font-family: helvetica, monospace, sans-serif;
    margin-top: 0px;
    font-weight: 400;
    margin-right: -1px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.24);
}

.plen {
    color: #0584FF;
}


.tools {
    display: inline-block !important;
}

.color {
    background: #fff !important;
}
#st{
	display:block;
}

#settings {
    margin-top: -30px;
    margin-right: 100px;
    padding: 18px;
}

#settings a:hover {
    background: #ddd;
   
}

#power {
        margin-top: -64px;
    margin-left: 100px;
    padding: 15px;
	
}

#power a:hover {
    background: #ddd;
      
}

#power i {
    color: #FF0F0F;
}

.maincontent {
    height: 600px;
    width: 970px;
    margin-top: 50px;
    padding: 50px;
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #000;
    border: 1px #ccc solid;
    border-radius: 5px;
    box-shadow: 5px 5px 27px -6px rgba(0, 0, 0, 0.31);
    overflow: scroll;
}
#john {
    margin-right: 140px;
    margin-left: 9px;
    margin-top: 19px;
    border: #ddd 1px solid;
    border-radius: 58px;
    padding: 9px;
    background: #bdf2ff;
}

#john p {
    margin: 5px 7px 6px;
    color: #21606f;
}

#doe {
    margin-left: 10px;
    margin-top: -43px;
}

doe p {
    position: absolute;
    font-size: 17px;
    font-weight: bold;
}

.contact {
        margin: 45px -16px 0px -14px;
    border-top: 1px #000 solid;
	  
}

.contact p {
    color: #57585B;
    font-weight: bold;
    font-size: 18px;
    font-family: arial, monospace, sans-serif;
    margin-top: 40px;
}


logout-btn{
  background-color: rgb(226, 98, 92);
}
logout-btn:hover, a.logout-btn:active, a.logout-btn:focus {
  background-color: rgb(245, 106, 99);
}
