<html>
<head>
<title>404</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/style5.css" />

	

</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h3>Oops! Something went wrong !!!! <%=msg%> </h3>
			</div>
			<h2>Please choose a another nick a to be registered</h2>
            <h2>Same email is not allowed plz insert a unique e-mail to be a member</h2>
		</div>
	</div>

</body>

</html>
