<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/style4.css">

    <title>Landing Page</title>
</head>

<body>
    <div class="container">
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white">
            <a href="#" class="my-0 mr-md-auto font-weight-normal"><img src="/img1/logo.png" srcset="/img1/logo@2x.png 2x,
                                    /img1/logo@3x.png 3x"
                    class="Logo"></a>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="btn btn-light border" href="/signin">Sign in</a>
                <a class="btn btn-primary" href="/signup">Sign up</a>
            </nav>
        </div>

        <div id="fst-sec">
            <div class="row">
                <div class="col-md-6">
                    <div class="head">
                        <h3>IRC Client for <br>
                            21st Century</h3>

                        <p>When your team needs to kick off a project, hire a new employee, deploy some code, review a
                            sales contract, finalize
                            next year's budget, measure an A/B test, plan your next office opening, and more, Chatily
                            has
                            you covered.</p>

                        <form>
                            <div class="form-row align-items-center">
                                <div class="col-auto">
                                    <label class="sr-only" for="inlineFormInput">Email</label>
                                    <input type="email" class="form-control mb-2" id="inlineFormInput" placeholder="Enter your email address">
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary mb-2 sub">Get Started</button>
                                </div>
                            </div>
                            <div class="rec">
                                <p>Already have Chatily account? <span><a href="/signin">Sign in</a></span></p>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pic">
                        <img src="/img1/illustration-3-x.png" srcset="/img1/illustration-3-x@2x.png 2x,
                        /img1/illustration-3-x@3x.png 3x"
                            class="Illustration3x">
                    </div>
                </div>
            </div>
        </div>
        <!---------- fst-sec ------------->

        <div id="second-sec">
            <div class="row">
                <div class="col-md-12">
                    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                        <h1 class="display-4">The hub for your team and your work</h1>
                        <p class="lead">Chatily is a place where your team comes together to collaborate, important
                            information can be found by
                            the right people, and your tools pipe in information when and where
                            you need it.</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <img src="img/channels-icon.png" srcset="/img1/channels-icon@2x.png 2x,
             /img1/channels-icon@3x.png 3x"
                        class="Channels-Icon">
                    <h5>Chaneels</h5>
                    <p class="para">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,
                        tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
                        malesuada magna mollis euismod. Donec sed odio dui. </p>
                </div>
                <div class="col-md-3">
                    <img src="/img1/search-icon.png" srcset="/img1/search-icon@2x.png 2x,
                                /img1/search-icon@3x.png 3x"
                        class="Search-Icon">
                    <h5>Search</h5>
                    <p class="para">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,
                        tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
                        malesuada magna mollis euismod. Donec sed odio dui. </p>
                </div>
                <div class="col-md-3">
                    <img src="img/integration-icon.png" srcset="img/integration-icon@2x.png 2x,
                                img/integration-icon@3x.png 3x"
                        class="Integration-icon">
                    <h5>Integrations</h5>
                    <p class="para">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id
                        ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                        condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                </div>
                <div class="col-md-3">
                    <img src="/img1/servers-icon.png" srcset="/img1/servers-icon@2x.png 2x,
                                /img1/servers-icon@3x.png 3x"
                        class="Servers-icon">
                    <h5>Servers</h5>
                    <p class="para">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id
                        ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                        condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                </div>

            </div>
            <div id="foot">
                <p class="mt-2 mb-3 text-muted text-center"><span><a href="#">Learn more</a></span> about Chatily features</p>
            </div>
        </div>
        <!---------- second-sec ------------->
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>